.alert_registred {
  background-color: #fff;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  opacity: 0;
}

.animation {
  animation: show 6s both ease-in-out;
}
.alert_registred img {
  width: 20px;
}
.alert_registred .alert {
  font-size: 1rem;
  color: #000;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
